$pink: #dcc1cf;
$green: #b6d7a8;
$yellow: #ffbb2f;

.fichero {
  width: 100%;
  position: relative;
  padding-right: 2rem;

  p {
    margin: 0;
  }
}

.fichaClosed {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nombre {
  span:first-child {
    font-size: 24px;
    font-weight: 700;
  }
}

.descripcion {
  font-size: 20px;
  margin-top: 1.5rem !important;
}

.summary {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .fichero {
    padding: 0 1rem;
  }
  .category {
    padding-left: 1rem;
  }
}
