.fichero {
  width: 100%;
  position: relative;
}

.fichaClosed {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    margin: 0;
  }
}

.nombre {
  span:first-child {
    font-size: 24px;
    font-weight: 700;
  }
}

.details {
  margin-top: 3rem;

  .descripcion {
    font-size: 20px;
  }
}
.summary {
  display: flex;
  justify-content: space-between;
}
