.fichero {
  width: 100%;
  position: relative;
  p {
    margin: 0;
  }
}

.fichaClosed {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nombre {
  span:first-child {
    font-size: 24px;
    font-weight: 700;
  }
}

.descripcion {
  font-size: 20px;
  margin-top: 1.5rem !important;
}

.summary {
  display: flex;
  justify-content: space-between;
}
